
    .search-form {
        display: flex;
        align-items: center;
    }

    .search-input {
        flex-grow: 1;
        margin-right: 10px;
    }

    .filters {
        margin-right: 10px;
    }

    .filter-button {
        margin-right: 10px;
    }

    .priority-filters {
        margin-right: 10px;
        margin-top: 10px;
    }

    .category-filters {
        display: flex;
        flex-wrap: wrap;
        background-color: #f0f0f0;
    }

    /* Styles for Cards */
    .card {
        background-color: #f0f0f0;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .card .top-section {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .card h2 {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .card .badges-list {
        margin: 10px 0;
    }

    .card .badge {
        margin-right: 5px;
    }

    .card .favorite {
        color: gold;
        margin-right: 5px;
    }

    .card .status {
        margin-right: 5px;
        font-weight: bold;
    }

    .card .done {
        color: green;
    }

    .card .todo {
        color: yellow;
    }

    .card .categories {
        display: flex;
        flex-wrap: wrap;
    }

    .card .categories .category {
        background-color: #2196F3;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .card .description p {
        margin-top: 0;
        color: black;
    }

    /* Example custom styling for pastel category badges */
    .category-badge {
        background-color: #a2d2ff;
        /* Light blue pastel color, assign dynamically as needed */
        color: #000;
        /* Text color */
    }

    /* Custom styling for status badges */
    .status-done {
        color: #fff;
        background-color: #28a745;
        /* Bootstrap success color */
    }

    .status-todo {
        color: #fff;
        background-color: #6c757d;
        /* Bootstrap secondary color */
    }